<div class="ma0 pa0 w-100 min-vh-100 bg-red">
    <div class="w-100 flex flex-column">
        <h1 class="flex self-center ma0 pa0 white">Welcome To Poke Arena</h1>
        <div class="w-100 flex flex-row">
            <div class="w-25 flex flex-column">
               
                <div>Explore</div>
            </div>
            <div class="w-50 flex justify-center white">
                <div>Browse Content</div>
            </div>
            <div class="w-25">side column</div>
        </div>
        <div class="w-100 flex flex-row justify-center">
            <div>Contact us</div>
        </div> 
    </div>
</div>